/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 10px;    
    text-align: right;
}

header span {
    text-decoration: wavy;
    background-color: white;
    display: inline;

    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section.content {
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
}

.center {
    display: block;
    width: 250px;
}
/* Form Control */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}




input:focus:invalid {background-color: lightgreen;}
input:focus:valid {background-color: rgb(255, 220, 220);}

/* End Form Control */

/* show the checked state*/
.checkbox-wrapper input[type="checkbox"]:checked + label::after, 
.radio-wrapper input[type="radio"]:checked + label::after {
    content: "";
}

.checkbox-wrapper label, .radio-wrapper label  {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}


/* footer stlyse start */
footer {
    background-color: rgb(38, 98, 109);
    padding: 10px;

}
footer span {
    color: white;
    text-decoration: none;
    font-weight: bold;
}